<form
  class="form-block"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="auth-block">
    <div class="auth-block__content">
      <span class="auth-block__title">Login</span>
      <div class="input-field">
        <label for="login">Login</label>
        <input
          formControlName="username"
          type="text"
          id="login"
        >
        @if (form.get('username')?.invalid && form.get('username')?.touched) {
          @if (form.get('username')?.errors!['required']) {
            <small class="warning-text">
              The username field must not be empty
            </small>
          } @else if (form.get('username')?.errors!['minlength']) {
            <small class="warning-text">
              The username must be at least {{form.get('username')?.errors!['minlength']['requiredLength']}} characters long. Now {{form.get('username')?.errors!['minlength']['actualLength']}}
            </small>
          }
        }
      </div>
      <div class="input-field">
        <label for="password">Password</label>
        <input
          formControlName="password"
          type="password"
          id="password"
        >
        @if (form.get('password')?.invalid && form.get('password')?.touched) {
          @if (form.get('password')?.errors!['required']) {
            <small class="warning-text">
              The password field must not be empty
            </small>
          } @else if (form.get('password')?.errors!['minlength']) {
            <small class="warning-text">
              The password must be at least {{form.get('password')?.errors!['minlength']['requiredLength']}} characters long. Now {{form.get('password')?.errors!['minlength']['actualLength']}}
            </small>
          }
        }
      </div>
      <button
        type="submit"
        class="login-button"
        [disabled]="form.invalid || form.disabled"
      >Log in</button>
    </div>
  </div>
</form>

