<div class="chart-container">
  <div class="chart-box">
    <canvasjs-chart [options]="{
        animationEnabled: true,
        theme: 'light2',
        title: { text: 'Products Purchased' },
        data: [{ type: 'column', dataPoints: productsData }]
      }"></canvasjs-chart>
  </div>

  <div class="chart-box">
    <canvasjs-chart [options]="{
        animationEnabled: true,
        theme: 'light2',
        title: { text: 'User Purchases' },
        data: [{ type: 'pie', dataPoints: usersData }]
      }"></canvasjs-chart>
  </div>

  <div class="chart-box">
    <canvasjs-chart [options]="{
        animationEnabled: true,
        theme: 'light2',
        title: { text: 'Active Users' },
        data: [{ type: 'line', dataPoints: activeUsersData }]
      }"></canvasjs-chart>
  </div>
</div>
