.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
  max-width: 400px;
  margin: 0 auto;
}

.login-container h2 {
  margin: 0;
  font-size: 30px;
  color: #454545;
}

.login-container form {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mat-form-field {
  width: 100%;
}

.login-container button {
  width: 100%;
  padding: 24px;
}

